.massive-upload-container{
  height: 95%;
  width: auto;
  margin-left: 1%;
  overflow-y: auto;
  overflow-x: hidden;
}
.massive-upload-header{
  padding-top: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.massive-upload-header h1{
  color: var(--first-color);
  font-size: 2.1em;
  font-weight: 900;
}
.massive-upload-header hr{
  width: 80%;
  border: 1px solid #99999952
}

.massive-upload-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.massive-upload-footer{
  height: 5%;
}

.massive-upload-number-page-box{
  margin-top: 10px;
}


.massive-upload-number-page-label{
  background-color: var(--secondth-color);
  color: var(--third-color);
  border: 1px solid var(--fifth-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: inline-block;
  cursor: pointer;
}

.massive-upload-title{
  margin-left: 10px;
  color: var(--first-color);
  -webkit-text-stroke: thin;
}
.massive-upload-file-info {
  margin-left: 10px;
  color: var(--sixth-color);
  font-size: 10px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  background-color: var(--secondth-color);
  color: var(--third-color);
  border: 1px solid #ccc;
  border-radius: 20px !important;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 1px;
}
.btn-accept{
  background-color: var(--secondth-color);
  color: var(--third-color);
  border: 1px solid #ccc;
  border-radius: 20px !important;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

}
.btn-cancel{
  background-color: var(--eigth-color);
  color: var(--secondth-color);
  border: 1px solid var(--secondth-color);
  border-radius: 20px !important;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

}

.file-field.medium .file-path-wrapper {
  height: 3rem; }
  .file-field.medium .file-path-wrapper .file-path {
  height: 2.8rem; }
  
  .file-field.big-2 .file-path-wrapper {
  height: 3.7rem; }
  .file-field.big-2 .file-path-wrapper .file-path {
  height: 3.5rem; }



    app-em-table {
      width: 100%;
    }

    .opcidad {
      opacity: 50%;
    }
    .green-color {
      color: var(--eleventh-color) !important;
    }
    .red-color {
      color: var(--tenth-color) !important;
    }
/*Tabla*/

.massive-upload-table{
  margin-top: 30px;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  /* border: 2px solid var(--first-color); 
  border-collapse: collapse;*/
  text-align: center;
  
}
.massive-upload-table thead{
  background-color: var(--first-color);
  color: var(--eigth-color);
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  /*border-bottom: 3px solid var(--first-color);*/
}

.massive-upload-table thead th{
  border-top: none !important;
  border-bottom: none !important;
}

.massive-upload-table-head-right {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}

.massive-upload-table tbody{
  border: 1px solid var(--fifth-color);
}
.massive-upload-table tbody td{
  /*border: 20px solid var(--fifth-color);*/
  border-left: 1px solid var(--fifth-color);
  border-right: 1px solid var(--fifth-color);
  border-bottom: 1px solid var(--fifth-color);
}

tr > th:first-child {
  border-top-left-radius: 20px !important;
}
tr > th:last-child {
  border-top-right-radius: 20px !important;
}

.massive-upload-buttons{
  margin-top: 20px;
}
.massive-upload-buttons-pagination{
  text-align: center;
    padding-right: 85px;
    font-size: 15px;
}

  /* pagination */
  .massive-upload-pagination ::ng-deep .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: var(--first-color) !important;
    color: #fefefe;
    cursor: default;
    border-radius: 100%;
  }
  
  .massive-upload-pagination ::ng-deep .ngx-pagination a {
    color: var(--first-color);
    font-weight: 700;
  }
  .massive-upload-pagination ::ng-deep .ngx-pagination .pagination-previous > a,
  .massive-upload-pagination ::ng-deep .ngx-pagination .pagination-next > a,
  .massive-upload-pagination ::ng-deep .ngx-pagination .ellipsis > a{
      color: var(--first-color);
      font-weight: 700;
      border: none;
  }



  